
#Sidebar {
    background: inherit;
}
#BackButton {
    width: 150px;
    margin-left: 25px;
}

.ContentCard {
    float: left;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}
#Subscriptions {
    position: absolute;
    width: 1000px;
    height: auto;
}
.SubbedCommunityDiv {
    height: 100px;
    width: 700px;
}
.SubbedCommunityBanner {
    height: 100px;
    width: 700px;
}
.SubbedCommunityTitle {
    display: block;
    text-align: center;
    margin-top: -100px;
    transform: translate(0%, 50%);
    color: #FFFFFF;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    font-size: 30px;
}