#DashboardSidebar {
    position: absolute;
    height: 650px;
    margin: 72px 48px 48px 48px;
    border-radius: 10px;
    background-color: transparent;
}

#DashboardSidebarAvatar {
    width: 150px;
    height: 150px;
}
#DashboardSidebarSongInput {
    width: 150px;
}
#DashboardSidebarSongButton {
    width: 150px;
}

#DashboardContents {
    position: absolute;
    width: 75%;
    margin-top: 24px;
    margin-left: 300px;
    margin-right: 100px;
    text-align: center;
}

.DashboardFeaturedCard {
    width: 350px;
    height: 550px;
}

#DashboardDiscoverCard {
    width: 700px;
    height: 550px;
}

#DashboardCommunityCard {
    width: 400px;
    height: 550px;
}
.CommunityDiv {
    width: 350px;
}
.CommunityBanner {
    height: 50px;
    width: 350px;
}
.CommunityTitle {
    display: block;
    text-align: center;
    margin-top: -50px;
    transform: translate(0%, 50%);
    color: #FFFFFF;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    font-size: 15px;
}

.DashboardContentCard {
    border-radius: 10px;
    text-align: center;
}

#topCards{
    position: relative;
}

.featuredSongCard{
    float:left;
    width: 45%;
}

.discoverCard {
    width: 50%;
    float: right;
    margin-left: 48px;
}

#bottomCards{
    position: relative;
}
.historyCard{
    float: left;
    margin-top: 24px;
    width: 45%;
}

.communitiesCard{
    width: 50%;
    margin-top: 24px;
    float: right;
    text-align: center;

}

.listItems{
    /*background-color: blue;*/
    margin-bottom: -20px;
    margin-top: -24px;
}
