#DashboardSidebar {
    position: absolute;
    height: 650px;
    margin: 10px;
    border-radius: 10px;
    background: inherit;
}
#DashboardSidebarCard {
    height: 100%;
    border-radius: 10px;
    text-align: center;
    word-wrap: break-word;
}
#DashboardSidebarAvatar {
    width: 150px;
    height: 150px;
}
#DashboardSidebarSongInput {
    width: 150px;
}
#DashboardSidebarSongButton {
    width: 150px;
}

#DashboardContents {
    position: absolute;
    margin-left: 250px;
    width: 1200px;
}

#DashboardFeaturedCard {
    width: 400px;
    height: 550px;
}

#DashboardDiscoverCard {
    width: 700px;
    height: 550px;
}
.SongListCard {
    width: 700px;
    height: 550px;
}


#DashboardCommunityCard {
    width: 400px;
    height: 550px;
}
.CommunityDiv {
    height: 50px;
    width: 350px;
}
.CommunityBanner {
    height: 50px;
    width: 350px;
}
.CommunityTitle {
    display: block;
    text-align: center;
    margin-top: -50px;
    transform: translate(0%, 50%);
    color: #FFFFFF;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    font-size: 15px;
}

.DashboardContentCard {
    float: left;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}


