.content {
    padding: 0 50px;
}

.header {
    background: white;
    height: 200px;
    position: relative;
}

#header_container {
    margin-bottom: 30px;
}

.header_avatar {
    color: cornflowerblue;
    background-color: aliceblue;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    margin-left: 80px;
}

#header_h1 {
    font-size: 30px;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    margin-left: 220px;
    width: 200px;
}

.header_join_button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 30px;
    margin-right: 30px;
}

.breadcrumb {
    margin: 16px 0;
}

.feed_layout {
    padding: 24px;
    background-color: white;
}
.feed_container {
    padding: 24px 24px;
    position: relative;
    min-height: 500px;
}

#new_post_button {
    position: absolute;
    right: 0;
    margin-right: 100px;
}

.posts {
    position: absolute;
    margin-top: 30px;
    margin-right: 100px;
}


