#Root {
    height: 100%;
    margin: auto;
}

.AlbumCover {
    object-fit: cover;
}


#Layout {
    height: calc(100% - 20px);
    width: 100%;
}

#Sidebar {
    background: #DDDDDD;
    width: 300px;
    height: 650px;
    margin: 10px;
    border-radius: 10px;
}
#SidebarCard {
    height: 100%;
    border-radius: 10px;
    text-align: center;
    word-wrap: break-word;
}
#SidebarAvatar {
    width: 150px;
    height: 150px;
}
#SidebarAlbumCover {
    width: 150px;
    height: 150px;
}
#SidebarAudio {
    width: 150px;
    height: 25px;
}

#FeaturedCard {
    width: 400px;
    height: 550px;
}
#FeaturedAlbumCover {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    text-align: center;
}
#FeaturedSongName {
    font-size: 20px;
    text-align: center;
}
#FeaturedAudio {
    width: 350px;
}

#HistoryCard {
    width: 700px;
    height: 550px;
}
.HistoryItem {
    margin: 0;
}
.HistoryAlbumCover {
    width: 50px;
    height: 50px;
}
.HistoryAudio {
    width: 300px;
}

#DiscoverCard {
    width: 700px;
    height: 550px;
}

#CommunityCard {
    width: 400px;
    height: 550px;
}
.CommunityDiv {
    height: 50px;
    width: 350px;
}
.CommunityBanner {
    height: 50px;
    width: 350px;
}
.CommunityTitle {
    display: block;
    text-align: center;
    margin-top: -50px;
    transform: translate(0%, 50%);
    color: #FFFFFF;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    font-size: 15px;
}

.ContentCard {
    float: left;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}