#Root {
    height: 100%;
    margin: auto;
}

.AlbumCover {
    object-fit: cover;
}


#Layout {
    height: calc(100% - 20px);
    width: 100%;
}

#Sidebar {
    background: #DDDDDD;
    width: 300px;
    height: 650px;
    margin: 10px;
    border-radius: 10px;
}
#SidebarCard {
    height: 100%;
    border-radius: 10px;
    text-align: center;
    word-wrap: break-word;
}
#SidebarAvatar {
    width: 150px;
    height: 150px;
}
#SidebarAlbumCover {
    width: 150px;
    height: 150px;
}
#SidebarAudio {
    width: 150px;
    height: 25px;
}

#AdminFeaturedCard {
    display: block;
    width: 400px;
    height: 550px;
}
#AdminFeaturedAlbumCover {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    text-align: center;
}
#AdminFeaturedSongName {
    font-size: 20px;
    text-align: center;
}
#AdminFeaturedAudio {
    width: 350px;
}

#AdminQueueDiv {
    float: left;
    width: 1050px;
}
#AdminQueueCard {
    width: 500px;
    height: 200px;
}
#AdminQueueApprove {
    width: 100px;
    float: bottom;
    position: absolute;
    bottom: 10px;
    left: 100px;
}
#AdminQueueDecline {
    width: 100px;
    float: bottom;
    position: absolute;
    bottom: 10px;
    left: 300px;
}


.ContentCard {
    float: left;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}